@model UserViewModel
@{
    ViewData["Title"] = "Register";
}


<div class="container ">

    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">User List</h2>
        </div>
        <div class="col-3 offset-3 text-right">
            <a class="btn btn-primary text-white" asp-action="Create">
                <i class="fas fa-plus"></i> &nbsp;Create new user
            </a>
        </div>
    </div>

    <div class="card p-3 m-0 ">
        <form class="form-group" asp-action="Search" asp-controller="Register" method="post">
            <div class="form-inline">
                <input asp-for="SearchName" type="text" class="form-control col-md-3 mb-2" autocomplete="off" placeholder="Search by Username" />
                <button type="submit" class="btn btn-success col-md-1 mx-sm-2 mb-2"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table text-center table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                @for (int i = 0; i < Model.UserModelList.Count; i++)
                {

                    <tbody>
                        <tr>
                            <td>@(i+1)</td>
                            <td>@Model.UserModelList[i].Username</td>
                            <td>@Model.UserModelList[i].Password</td>
                            @if (@Model.UserModelList[i].Name == null)
                            {
                                <td>-</td>
                            }
                            else
                            {
                                <td>@Model.UserModelList[i].Name</td>
                            }
                            <td>@Model.UserModelList[i].Age</td>
                            <td>
                                <div class="w-50 btn-group" role="group">
                                    <a asp-controller="Register" asp-route-id="@Model.UserModelList[i].Id" asp-action="Edit" class="btn btn-primary mx-2">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a asp-controller="Register" asp-route-id="@Model.UserModelList[i].Id" asp-action="Delete" class="btn btn-danger mx-2">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                }
            </table>
        </div>
    </div>
</div>

